body, html {
  height: 100%;
}

.main-header {
    background-image: url(../eventbanner.jpg;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100%;
}

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.content {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}

body {
    width: 99%;
}

body p {
    width: 60%;
    margin-left: 20%;
    font-size: 160%;
    text-align: center;
    color: whitesmoke;    
}

body p:nth-child(1){
    margin-top: 5%;
    font-size: 200%;
}

.footer {
    padding-left: 25%;
    padding-top: 20%;
}

.footer > a > img {
    padding-left: 3%;
}

#in {
    width: 10%;
}

#fb {
    width: 23%;
}

#bo {

    width: 20%;
}

